@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;

  --container-padding: 1rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 4rem;
}
